body {
background: #c4e5f6;
}
 .container {
width: 960px;
text-align: center;
background: #ffffff;
margin: auto;
box-shadow: 1px 1px 10px #98b2c1;
 }

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #efefef;
}

.navbar ul li {
    float: left;
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.locationhelp{
  font-size: 12px;
}
.mainarticle{
  margin-top: -17px;
  padding-left: 360px;
  font-size: 17px;
}
.paragraph1{
  float: right;
  margin: 0 0 10px 10px;
  padding-left: 350px;
}
.localforecast{
  padding-top: 25px;
  font-size: 12px;
}
.currentweather{
  padding-top: 50px;
  font-size: 18px;
}
.spanish{
  font-size: 12px;
}
.sharebutton{
  padding-left: 40px;
  font-size: 12px;
}
.header_doc{
  padding-left: 488px;
}
.currentconditions{
  font-size: 13px;
  margin-bottom: 600px;
}
.seattleboeingfield{
  font-size: 20px;
  color: #135897;
  margin-bottom: 0px;
  margin-top: 0px;
}
.latitutde{
  font-size: 13px;
  margin-top: 0px;
}
 .header-icons {

 }

 .fa-caret-down:before {
   content: "\f0d7";
 }
 .fa-facebook-official:before {
   content: "\f230";
 }

 .fa-twitter:before {
   content: "\f099";
}

.fa-google-plus-square:before {
  content: "\f0d4";
}

.fa-print:before {
  content: "\f02f";
}

.fa-envelope-square:before {
  content: "\f199";
}

.padded {

}
.inset-panel {

}
.panel-heading {
text-align: justify;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #efefef;
}

.panel-heading p {
  font-size: 30px;
  color: #135897;
  margin-bottom: 0px;
  margin-top: 0px;

}
.panel-body-padded {
  display:flex;
  padding-left: 10px;
}
.weather-list-1 ul {
  padding-left: 5px;
  list-style-type: none;

}

.weather-list-1 ul li {
  float: left;
  display: block;
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
}

 .weather-list2 ul {
   padding-left: 40px;
   list-style-type: none;

}

.weather-list2 ul li {
  float: left;
  display: block;
  color: black;
  font-size: 15px;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

.panel-body-bottom {
  float left;
  display: block;
}

.weather-pics-1 ul li{

}
